@import "tailwindcss";

@theme {
  --color-spark-dark: #0f172a;
  --color-spark-accent: #8b5cf6;
  --color-spark-soft: #1e293b;
  --color-spark-text: #f8fafc;
}

body {
  background-color: var(--color-spark-dark);
  color: var(--color-spark-text);
  @apply antialiased font-sans;
  margin: 0;
  min-height: 100vh;
}